---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Studies from "../components/Studies.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Languages from "../components/Languages.astro";

import "@fontsource-variable/inter";
---

<Layout title="Portfolio David Pastor Crespo">
	<main>
		<Header />
		<About />
		<Studies />
		<Skills />
		<Experience />
		<Projects />
		<Languages />
	</main>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
		font-family: "Inter Variable", sans-serif;
	}
</style>
