<section>
    <h2>Sobre mí</h2>
    <h3>
        Soy graduado en Ingeniería Informática y poseo un máster en Inteligencia
        Artificial por la Universidad de Alicante, donde he desarrollado una
        profunda pasión por el procesamiento del lenguaje natural (PLN). A lo
        largo de mi formación, he adquirido una base sólida de conocimientos
        técnicos y teóricos que me permiten afrontar de manera eficaz cualquier
        desafío relacionado con este campo. Además, tengo una actitud crítica y
        analítica en la toma de decisiones al diseñar e implementar sistemas de
        PLN, lo que me ayuda a identificar y aplicar las soluciones más
        adecuadas a cada problema.
    </h3>

    <style>
        section {
            max-width: 750px;
            margin: 0 auto 50px;
        }

        h2 {
            font-size: 1.5em;
            font-weight: 600;
            letter-spacing: -0.4px;
        }

        h3 {
            color: rgb(49, 51, 51);
            margin-bottom: 10px;
        }
    </style>
</section>
