<section>
    <h2>Experiencia</h2>
    <ul>
        <li>
            <div class="flex-line">
                <h3>Prompsit Language Engineering</h3>
            </div>
            <p>
                Se realizó un estudio del estado del arte de reconocimiento de
                entidades nombradas, tras lo que se procedió al aprendizaje del
                framework de HuggingFace para poder realizar entrenamientos.
                Tras ello, se realizó el ajuste fino de distintos modelos
                preentrenados en esta tarea con el propósito de utilizarlos en
                la anonimización de conjuntos de datos para preservar la
                información personal de clientes. Para ello, se siguieron
                distintas estrategias, como ajustar los modelos haciendo uso de
                las lenguas más usadas en Europa o realizarlo utilizando
                diversos modelos por subfamilias.
            </p>
        </li>
    </ul>
</section>

<style>
    section {
        max-width: 750px;
        margin: 0 auto 50px;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: -0.4px;
    }

    h3 {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: -0.3px;
        font-family: "Inter Variable", sans-serif, monospace;
    }

    p {
        color: rgb(49, 51, 51);
    }

    .flex-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }
</style>
