<section>
    <h2>Habilidades</h2>
    <h3>
        Cuento con una estructura conceptual sólida en el funcionamiento de los
        sistemas de procesamiento del lenguaje natural modernos, lo que me
        permite no solo adaptarme rápidamente a cualquier framework o
        tecnología, sino también tomar decisiones informadas en su
        implementación. Además, poseo una actitud proactiva frente al
        aprendizaje continuo, por lo que soy capaz de mantenerme actualizado con
        las últimas tendencias y avances en el campo de PLN.
    </h3>
    <h3>
        En cuanto al aprendizaje y aplicación de modelos de PLN, tengo
        experiencia en el entrenamiento de modelos utilizando PyTorch. Además,
        he trabajado con el framework de HuggingFace, tanto para el ajuste fino
        de modelos preentrenados como para su integración en aplicaciones. Cabe
        destacar que también poseo conocimientos sobre el ajuste de modelos de
        lenguaje masivos (LLMs), así como del uso de técnicas como RAG mediante
        el que se amplían los conocimientos de estos sistemas.
    </h3>
</section>

<style>
    section {
        max-width: 750px;
        margin: 0 auto 50px;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: -0.4px;
    }

    h3 {
        color: rgb(49, 51, 51);
        margin-bottom: 10px;
    }
</style>
