<section>
    <h2>Estudios</h2>
    <ul>
        <li>
            <div class="flex-line">
                <h3>Grado en Ingeniería Informática</h3>
                <time>2018-2023</time>
            </div>
            <p>Universidad de Alicante</p>
        </li>
        <li>
            <div class="flex-line">
                <h3>Master en Inteligencia Artificial</h3>
                <time>2023-2024</time>
            </div>
            <p>Universidad de Alicante</p>
        </li>
    </ul>
</section>

<style>
    section {
        max-width: 750px;
        margin: 0 auto 50px;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: -0.4px;
    }

    h3 {
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: -0.3px;
        font-family: "Inter Variable", sans-serif, monospace;
    }

    li {
        margin-bottom: 10px;
    }

    .flex-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    time {
        margin-left: 40px;
        font-size: 1em;
    }

    p {
        color: rgb(80, 82, 82);
        letter-spacing: -0.3px;
    }
</style>
